.loginContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
}

.loginTitle {
	color: white;
	text-align: center;
	margin-bottom: 1rem;
}

.loginForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	gap: 1rem;
}

input[type="text"],
input[type="password"] {
	width: 16rem;
	padding: 0.25rem;
}
