@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

#root {
	margin: 0;
	padding: 0;
	font: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

body,
html {
	font-family: "Roboto", sans-serif !important;
	margin: 0;
	padding: 0;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
